<div class="center">
  <% if params[:post].nil? || params[:post].empty?
     @title = "Post not found"
  %>
  <h2 class="bold">Post not found.</h2>

  <% elsif @posts.find_by id: params[:post]
     @title = "Comments" %>
    <h2 class="bold"><%= "#{(@subreddits.find_by id: (@posts.find_by id: params[:post])).name}:" %></h2>

    <%= (@posts.find_by id: params[:post]).content %>

     <br><br><br><h5 class="bold">Comments:</h5><br>

     <%
     @comments.each do |comment|
        comment_poster = (@users.find_by id: comment.user_id).username
        if comment.post_id.to_s == params[:post]
          concat "<div id=\"comment#{comment.id}\">#{comment.content}<br><a href=\"users?u=#{comment_poster}\" class=\"bold\">#{comment_poster}</a></div><br><br>".html_safe
        end
      end
     %>

  <% else
     @title = "Post not found"
  %>
  <h2 class="bold">Post not found.</h2>
  <% end  %>

</div>
