<% @title = "Home" %>
<div class="center container">
  <h1 class="bold">redditClone</h1>
  <a href="view/subreddits" class="homepage-selector-anchor">
    <div class="homepage-selector hoverable flow-text">
      <br>Subreddits<br><br>
    </div>
  </a>
  <br>
  <a href="view/users" class="homepage-selector-anchor">
    <div class="homepage-selector hoverable flow-text">
      <br>Users<br><br>
    </div>
  </a>
  </div>
