<% @title = "Home" %>
<div class="center container">
  <h1 class="bold">redditClone</h1>
  <a href="view/subreddits">
    <div class="homepage-selector flow-text">
      <br>Subreddits<br><br>
    </div>
  </a>
  <br>
  <a href="view/users">
    <div class="homepage-selector flow-text">
      <br>Users<br><br>
    </div>
  </a>
  </div>
