<div class="center">
  <% if params[:r].nil? || params[:r].empty? %>
  <h2 class="bold">Subreddits</h2>
  <%

    @subreddits.each do |subreddit|

      sub_creator = @users.find(subreddit.user_id).username

      sub_creator_id = @users.find(subreddit.user_id).id.to_s

      numberOfPosts = 0

      @posts.each do |post|

        if post.subreddit_id == subreddit.id
          numberOfPosts += 1
        end

      end

      concat "<h5><a href=\"?r=#{subreddit.name}\">#{subreddit.name}</a> - <span class=\"bold\">#{numberOfPosts} Posts</span></h5>".html_safe

      concat "<h6 class=\"bold\"><a href=\"users?u=#{sub_creator}\">#{sub_creator}</a></h6><br>".html_safe

    end
  %>

  <% elsif @subreddits.find_by name: params[:r] %>
    <h2 class="bold"><%= params[:r] %></h2>
    <% @posts.each do |post|
        original_poster = @users.find(post.user_id).username
        if post.subreddit_id == (@subreddits.find_by name: params[:r]).id
          concat (post.content + "<br><a href=\"users?u=#{original_poster}\" class=\"bold\">#{original_poster}</a>").html_safe
          numberOfComments = 0
          @comments.each do |comment|
            if comment.post_id == post.id
              numberOfComments += 1
            end
          end
          concat "<br><a href=\"comments?post=#{post.id}\" class=\"bold underlined\">comments #{numberOfComments}</a><br><br><br>".html_safe
        end
        end
       %>

  <% else %>
  <h2 class="bold">Sub not found.</h2>
  <% end  %>

</div>
