/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require material_icons
 */
@import "materialize/components/color";
$primary-color: color("blue-grey", "base") !default;
$secondary-color: color("grey", "lighten-2") !default;
@import "materialize";
@import "materialize/extras/nouislider";
@import url('https://fonts.googleapis.com/css?family=Roboto');
.bold{
  font-weight: bold;
}
.underlined{
  text-decoration: underline;
}
a{
  color: #fff;
  text-decoration: underline;
  &:hover{
    text-decoration:none;
  }
}
.homepage-selector{
  background-color: #607D8B;
  color: white;
  border: #333333 2.5px solid;
  &:hover{
    background-color: white;
    color: #333333;
  }
  &:active{
    background-color: #efefef;
    color: #333333;
    text-decoration: underline;
  }
}
.homepage-selector-anchor{
  text-decoration: none !important;
}
body{
  font-family: 'Roboto';
}
.card-title{
  font-weight: bold !important;
}
.collection-header > h5{
  font-weight: bold !important;
}
.black-text{
  color: #333333 !important;
}
.sidenav-link{
  font-size: 20px !important;
  text-decoration: none !important;
  color: white !important;
}
